<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--导航部分-->
<nav class="ui inverted attached segment" th:fragment="menu">
    <div class="ui container">
        <!--导航栏-->
        <!--stackable是为了适配移动端-->
        <div class="ui inverted menu secondary stackable">
            <h2 class="ui teal header item">YwrbyBlog</h2>

            <a href="#" class="item m-mobile-hide m-item"><i class="home icon"></i> Home</a> <!--首页-->
            <a href="#" class="item m-mobile-hide m-item"><i class="idea icon"></i> Archives</a> <!--时间线 归档-->
            <a href="#" class="item m-mobile-hide m-item"><i class="tags icon"></i> Tags</a> <!--标签云-->
            <a href="#" class="item m-mobile-hide m-item"><i class="github icon"></i> Github</a>
            <a href="#" class="item m-mobile-hide m-item"><i class="info icon"></i> About</a> <!--关于我-->

            <div class="right item m-mobile-hide m-item">
                <div class="ui icon input transparent inverted">
                    <input type="text" placeholder="Search...">
                    <i class="search icon link"></i>
                </div>
            </div>
        </div>
    </div>
    <a class="menu toggle ui black button icon m-right-top m-mobile-show">
        <i class="icon sidebar"></i>
    </a>
</nav>

</body>
</html>