<?xml version="1.0" encoding="UTF-8" ?>
<!--映射文件DTD约束头-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--mybatis用户映射文件-->
<mapper namespace="cn.ywrby.mapper.BlogMapper">

    <select id="findAll" resultType="Blog">
        select * from blog
    </select>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from blog where id = #{blogId}
    </delete>

    <insert id="insert" parameterType="Blog" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into blog(title,content,views,releaseDate,updateDate) values (#{title},#{content},#{views},#{releaseDate},#{updateDate})
    </insert>

    <insert id="insertBlogTag">
        insert into blog_tag(blogId,tagId) values (#{blogId},#{tagId})
    </insert>


    <select id="findBlogById" resultType="Blog" parameterType="java.lang.Integer">
        select * from blog where id= #{blogId}
    </select>
</mapper>